body{
font-family: Arial;
margin:0;
background: linear-gradient(to right,#e9f1f4,#f7fbff);
}

/* Navbar */

nav{
background:white;
padding:15px;
}

nav ul{
display:flex;
justify-content:center;
list-style:none;
gap:40px;
margin:0;
padding:0;
}

nav li{
color:#555;
cursor:pointer;
font-size:14px;
}

/* Cards */

.container{
display:flex;
justify-content:center;
gap:30px;
padding:80px 40px;
flex-wrap:wrap;
}

.card{
background:white;
width:220px;
text-align:center;
padding:30px 20px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.card img{
width:80px;
height:80px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
}

.card h3{
font-size:16px;
margin:10px 0;
}

.card p{
font-size:13px;
color:#777;
}

/* Tags */

.tag{
display:inline-block;
font-size:11px;
padding:4px 10px;
border-radius:20px;
margin:5px 0;
}

.travel{
background:#e6f4ff;
color:#2b7cff;
}

.tech{
background:#fff4d6;
color:#ff9800;
}

.fashion{
background:#ffe6f0;
color:#e91e63;
}